<?xml version="1.0"?>
<!-- Provides transmissions and actuators to a mobile joint -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="joint_interface" params="joint_name">
        <transmission name="${joint_name}_joint_transmission">
            <type>transmission_interface/SimpleTransmission</type>
            <actuator name="${joint_name}_actuator">
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
            <joint name="${joint_name}">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
        </transmission>
    </xacro:macro>
</robot>



